html,
body {
    height: 100%;
}

body {
    background-color: #14183c;
    color: rgb(255, 182, 73);
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}

.hcenter {
    text-align: center;
    margin: 0 auto;
}

#newSearchView {
    margin-top: 15%;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

.searchForm input {
line-height: 30px;
margin: 5px;
}

.searchForm input[type=submit] {
    background-image: url("../Images/1-06-512.png");
    background-repeat: round;
    width: 36px;
    border: none;
    background-color: transparent;
}

.searchForm input[type=text] {
    width: 60%;
    max-width: 500px;
}

.searchResult {
    border: none;
    border-radius: 10px;
    padding: 6px;
    line-height: 30px;
    background-color: rgb(29, 39, 88);
    margin: 15px;
    box-shadow: 2px 2px 6px black;
}

#searchResultsView{
    width:50%;
    max-width:700px;
}

a {
    color: #0066ff;
}

#errorSearchView img {
    width: 30%;
    max-height: 512px;
    max-width: 512px;
}

