@using EverySearch.ViewModels
@model SearchSavedViewModel

    <div id="indexSearchView" class="hcenter">
        <h1>EverySearch</h1>
        <form class="searchForm" asp-controller="Searches" asp-action="Index" method="post">
            <input type="text" asp-for="Filter" placeholder="search query" />
            <input type="submit" value=" " />
        </form>
        @await Html.PartialAsync("SearchResults", Model.SearchResults)
    </div>
