@model RouteAttribute
<div id="NewSearchView" class="hcenter">
    <h1>Yagle Search</h1>
    <form asp-controller="Searches" asp-action="New" method="post">
        <input type="text" name="query" placeholder="search query"/><input type="submit" value=" "/>
    </form>
</div>